{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Блог Мосметро
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:about' %} text-white {% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:rules' %} text-white {% endif %}" href="{% url 'pages:rules' %}">
              Правила
            </a>
          </li>
          {% if user.is_authenticated %}
            <form id="logout-form"
              action="{% url 'logout' %}"
              method="post">
              {% csrf_token %}
            </form>
            <div class="btn-group" role="group">
              <a class="btn btn-outline-primary"
                href="{% url 'posts:post_CUD_form' %}">
                  Написать пост
              </a>
              <a class="btn btn-outline-primary d-flex align-items-center gap-2"
                href="{% url 'users:profile' user.username %}">
                  {% if user.avatar %}
                    <img src="{{ user.avatar.url }}"
                        alt="Аватар {{ user.username }}"
                        class="rounded-circle"
                        width="30"
                        height="30">
                  {% else %}
                    <div class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center"
                        style="width: 30px; height: 30px;">
                        {{ user.username|first|upper }}
                    </div>
                  {% endif %}
                  {{ user.first_name }}
              </a>

              <button type="submit"
                      form="logout-form"
                      class="btn btn-outline-primary">
                  Выйти
              </button>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'login' %}">Войти</a></button>
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'registration' %}">Регистрация</a></button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>