{% autoescape off %}
Здравствуйте, {{ user.get_username }}!

Получен запрос на восстановление пароля для вашего аккаунта
в Блоге Мосметро.

Чтобы установить новый пароль, перейдите по одноразовой ссылке:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ссылка действует только для сброса пароля и содержит защищённый
одноразовый токен.

Если вы не запрашивали восстановление пароля, не переходите по ссылке.
При возникновении вопросов обратитесь в поддержку:
kabardokov.m@yandex.ru.
{% endautoescape %}
